.accountView {
    max-width: 80%;
    width: 100%;
    box-shadow: 5px 0px 9px 5px rgba(0, 0, 0, 0.02);
    background-color: white;
    padding: 20px;

    .profilePhoto {
        max-width: 252px;
        width: 100%;
        height: 252px;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        border-radius: 126px;
    }

    .names {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 33px;
        margin-bottom: 30px;
        color: #6E8691;
        margin-top: 34px;

    }

    .other-details {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #6E8691;

        &.nid {
            color: #1679A8;
        }
    }

    .identificationDoc {
        max-width: 530px;
        height: 355px;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        border-radius: 6px;
        margin-top: 30px;
    }

    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #696969;
    }

    button {
        background: #28A4E2;
        border-radius: 4px;
        width: 191.54px;
        height: 58.98px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        text-align: center;

        color: #FFFFFF;
        margin-top: 30px;
    }
}